.lang-container {
  float: right !important;
}
.site-footer {
  background-image: url('/images/footer.png');
  background-position: center bottom;
  background-repeat:no-repeat;
  /*background-attachment: fixed*/;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 30px 0;
}
.footer-about {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
}
.cphlogo {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
}
/*New green theme*/

/*Search box color*/
.homepage .module-search .module-content {
    background-color: #04a75d;
}
/* footer */
.site-footer{
    background-color: #04a75d;
}
/* */
body{
    background: #04a75d;
}

.masthead{
    background: #04a75d;
}
.btn-primary{
    background-image: linear-gradient(to bottom,#11bf70,#04a75d);
    background-color: #04a75d;
}

.btn-primary:hover, .btn-primary:focus{
background-color: #26b172;
}
a.tag:hover{
	background-color: #04a75d;
}
