{% ckan_extends %}

{% block package_basic_fields_custom %}
  {{ form.input('custom_text', label=_('Custom Text'), id='field-custom_text', placeholder=_('custom text'), value=data.custom_text, error=errors.custom_text, classes=['control-medium']) }}
<div class="control-group">
  <label for="field-update-frequency" class="control-label">{{ _('Update Frequency') }}</label>
  <div class="controls">
    <select id="field-update_frequency" name="update_frequency">
      {% for option in [('daily', _('Daily')), ('weekly', _('Weekly')), ('monthly', _('Monthly')), ('biannually', _('Biannually')), ('annually', _('Annually')), ('infrequently', _('Infrequently')), ('never', _('Never'))] %}
      <option value="{{ option[0] }}" {% if option[0] == data.update_frequency %}selected="selected"{% endif %}>{{ option[1] }}</option>
      {% endfor %}
    </select>
  </div>
</div>
{% endblock %}
{# hide fields e.g license
{% block package_basic_fields_license %}
{% endblock %}
#}
